.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color:black;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: cyan;
  font-weight: 400;
}
h2{
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: cyan;
  font-weight: 400;
  text-align: center;
}

p {
  font-size: 2rem;
  color: cyan;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}
